* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.center {
    width: 1600px;
    margin: 0 auto;
}

.header {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding: 18px 240px 19px 231px
}
    

.logo {
    display: flex;
    gap: 41px;
}

.right__menu {
    display: flex;
    gap: 31px;
    
    /* padding-top: 26px;
    padding-bottom: 20px; */

}

.top__title {
    text-transform:uppercase;
}

.colored__text {
    color: #F16D7F
}

.offers__text {
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pink__text {
    font-size: 24px;
    color: #F16D7F;
}


.content__title {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__subtitle {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item__name {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item__desc {
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.item__price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__btn {
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 14px 39px 15px 39px;
    background: #FFF;
    border: 1px solid #F16D7F;
}